services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppassword
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U appuser -d appdb"]
      interval: 3s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile_postgres
    depends_on:
      postgres:
        condition: service_healthy
    command: sh -c "make migrate && make migrate && make all && echo '--- FINDING SERVER BINARY ---' && find . -name server && echo '--- STARTING SERVER ---' && ./.cache/build/server"
    environment:
      PG_HOST: postgres
      PG_PORT: 5432
      PG_DBNAME: appdb
      PG_USER: appuser
      PG_PASSWORD: apppassword
    ports:
      - "8080:8080"
    volumes:
      - ./templates:/app/templates

volumes:
  pgdata:
